.App {
  text-align: center;
  height: 100vh;
  background-color: #625772;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*---------- Button ----------*/

.start-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #fefaec;
  margin: 40px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fefaec;
  text-align: center;
  transition: all 0.2s;
  background-color: #625772;
}

.start-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/*---------- Quiz Containers ----------*/

.quiz-container {
  background-color: #625772;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 13%;
  bottom: 13%
}

.slide {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  animation: slide 0.6s;
  margin: 20px;
  
}

.quiz-landing {
  background-color: #625772;
  display: inline-block;
  color: #fefaec;
  width: 100vw;
  position: absolute;
  top: 15%;
    left: 0%;
}

/*---------- Responses ----------*/
.response-container {
  height: 250px;
  width: 60%;
  max-width: 680px;
  min-width: 200px;
  display: inline-flex;
  margin: 20px
}

.response {
  width: 49%;
  text-align: center;
  background-color: #625772;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-color: white;
  height: 100%;
  color: #fefaec;
  padding: 0px 10px 0px 10px;
  
}

.response:hover {
  background-color: #ab9cc2bb;
}
.response-left {
  border-right: 1px solid;
  border-radius: 10px 0px 0px 10px;
}

.response-right {
  border-left: 1px solid;
  border-radius: 0px 10px 10px 0px;
}

.question-title {
  color: #fefaec;
  width: 100%;
  max-width: 850px;
  font-size: 1.4em;
  margin-bottom: 30px;
  display: inline-flex;
  justify-content: center;
}


/*---------- Quiz Results ----------*/
.result-text {
  color: #fefaec;

  position: absolute;
  top: 30%;
  left: 0%;
  right: 0%;
  font-size: 1.4em;
  justify-content: center;
  margin: 20px;
  overflow: wrap;
}




/*---------- Progress ----------*/

.progress {
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-evenly;
  width: 40%;
  min-width: 200px;
  max-width: 460px;
}

.progress-step {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.dot-active {
  box-sizing: border-box;

  border: 1px solid #fefaec;
  background-color: white;
  display: inline-block;
}

.dot-complete {
  background-color: #fefaec4f;

  display: inline-block;
}

.dot-incomplete {
  background-color: #fefaec;
  display: inline-block;
}



 /*---------- Footer ----------*/
.footer {
  color: #fefaec79;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 20px;
}


@media only screen and (max-width: 768px) {
  .response-container {
    height: 250px;
    width: 90%;
    display: inline-flex;
  }
  .quiz-container {
    overflow: hidden;
  
   
  }
  .start-button {
    display: block;
    margin: 40px auto;
    width: 60%;
    max-width: 300px;
    height: 60px;
  
   
  
  }
  .quiz-landing {
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 0%
  }
}



@keyframes slide {
  0% {
    transform: translate3d(70%, 0px, 0px);
    visibility: hidden;
  }
  100% {
    transform: translate3d(0%, 0px, 0px);
    visibility: visible;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
